@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin ordi {
    @media screen and (min-width: map-get($breakpoints, ordi)) {
        @content;
    }
}

@mixin box-shadow {
   box-shadow: 0px 0px 5px 2px #999;
}
@mixin shadow {
    box-shadow: 0px 5px 10px #999;
}
@mixin border-radius{
    border-radius: 10px;
}

@mixin margin-top-bottom{
    margin: nth($margin, 4) + 30  0;
}

@mixin input-btn-login-sign{
    background-color: $white-color;
    width: 100%;
    padding: nth($padding, 2) + 2;
    border-radius: 4px;
    margin: nth($margin, 1) 0;
    opacity: 0.85;
    display: inline-block;
}

@mixin all-page__conexions{
    display: flex;
    align-items: center;
    justify-content: center;
}

