// main colors
$first-color: #FF6060;
$second-color: #F7F7F7;
$third-color: #E5E5E5;
$fourth-color: #002155;
$fith-color: orange;

// normal colors
$blue-gray: #6699CC;
$white-color: #FFFFFF;
$black-color: #000000;
$blue-light: #ADD8E6;
$brun-color: #fcddb3;
$gray-light: #fafafa;
$green-cyan: #04AA6D;
$fruit-salad: #45a049;
$sea-cliff: #a8c4df;

//Breakpoints
$breakpoints: (
    tablet: 712px,
    ordi: 1024px,
    largeOrdi: 1440px

);

//Others variables
$margin: 5px 10px  15px  20px;
$padding: 5px 10px 15px 20px;

//Maps
$box-shadow : (
    header: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $fourth-color), 
    about: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $black-color),
    connect: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $sea-cliff),
    btnConnect: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $fourth-color),
    login: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $fruit-salad),
    signup: (0px 0px 0px 2.5px $white-color,
    0px 0px 0px 5px $blue-gray)
)