// main colors
$first-color: #FF6060;
$second-color: #F7F7F7;
$third-color: #E5E5E5;
$fourth-color: #002155;
$fith-color: orange;

// normal colors
$blue-gray: #6699CC;
$white-color: #FFFFFF;
$black-color: #000000;
$blue-light: #ADD8E6;
$brun-color: #fcddb3;
$gray-light: #fafafa;
$green-cyan: #04AA6D;
$fruit-salad: #45a049;
$sea-cliff: #a8c4df;
$combi: #0021556e; 

//Breakpoints

$breakpoints: (
    tablet: 768px,
    ordi: 1440px
);