@import '../utils/variables';
@import '../utils/mixins';


.content{
    nav ul li{
        color: $white-color;
        background-color: $black-color;
        &:hover{
           box-shadow: map-get($box-shadow, about);
        }
    }
    .main-about{
        height: 100%;
        padding-bottom: nth($padding, 4);
    }
    .main-about__content{
        letter-spacing: 0.2rem;
        h2{
            font-size: 24px;
            font-weight: 700;
            margin: nth($margin, 3) 0;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            width: 90%;
        }
    }
}