@import '../utils/variables';
@import '../utils/mixins';


.content{
    nav ul li{
        color: $white-color;
        background-color: $black-color;
        &:hover{
           box-shadow: map-get($box-shadow, about);
        }
    }
    .top-parent__modifications{
        height: 100%;
    }
    .main-about{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: justify;
        letter-spacing: 0.2rem;
        margin-bottom: nth($margin, 4) + 10;

            h2{
                font-size: 24px;
                margin: nth($margin, 3) 0;
            }
            p{
                font-size: 16px;
                width: 90%;
            }
    }
}