@import '../utils/variables';
@import '../utils/mixins';
@import '../components/keyframes';

.connect{
    nav ul li {
        background-color: $sea-cliff;
        @include border-radius;
        &:hover {
            color: $black-color;
            box-shadow: map-get($box-shadow, connect);
        }
    }
    & .main-connect{
        height: 300px;
        @include all-page__conexions;
        @include margin-top-bottom;
            @include tablet{
                height: 500px;
            }
            @include ordi{
                height: 600px;
            }
        & .connect-boxes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 80%;
            background-color: $white-color;
                @include tablet {
                    width: 50%;
                }
                @include tablet {
                    width: 30%;
                }
            p {
                font-size: 12px;
                text-align: center;
                color: $fith-color;
                    @include tablet{
                        font-size: 15px;
                    }
            }
            & .btn-connect {
                padding: nth($padding, 2) 15px;
                @include shadow;
                @include border-radius;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                color: $fourth-color;
                border-top: solid $black-color;
                border-bottom: solid $black-color;
                background-color: $sea-cliff;
                transition: .2s;
                    &:hover{
                        box-shadow: map-get($box-shadow, btnConnect);
                        transition: .3s ease-out;
                    }
                @include tablet{
                    padding: nth($padding, 2) + 3 20px;
                }
                @include ordi{
                    padding: nth($padding, 2) 30px;
                }
            }
        }
    }
}