@import '../../utils/variables';
@import '../../utils/mixins';



.login-content {
    nav ul li {
        background-color: $green-cyan;
        @include border-radius;
        &:hover {
                box-shadow: 0px 0px 0px 2.5px $white-color, 0px 0px 0px 5px $fruit-salad;
            }
    }
    & .banner-parent {
        @include ordi {
            display: none;
        }
    }
    & .top-parent__modifications{
        margin-top: 0;
        & .login-signup{
            height: 290px; 
            & .connect-boxes{
                height: 100%;
                form{
                    height: 100%;
                    h2{
                        text-align: center;
                        font-weight: 700;
                        margin: 15px 0;
                    }
                    input, .btn{
                        background-color: $white-color;
                        width: 100%;
                        padding: 12px;
                        border-radius: 4px;
                        margin: 5px 0;
                        opacity: 0.85;
                        display: inline-block;
                        font-size: 17px;
                        line-height: 20px;
                            input:hover, .btn:hover {
                                opacity: 1;
                            }
                    }
                    & .btn-login {
                        background-color: $green-cyan;
                        color: $white-color;
                        cursor: pointer;
                    }
                    & .btn-login:hover {
                        background-color: $fruit-salad;
                    }
                }
            }
        }

    }
}